.sidebar {
    flex: 2;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
    font-weight: bold;
    color: #1775ee;
}

.filters {
    text-align: center;
    font-size: large;
    text-shadow: #1877f2;
}

.sidebarWrapper {
    padding: 20px;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.sidebarHr {
    margin: 20px 0;
}